@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
   
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #21b66f;
}
.chronometre {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}
.tim {
    margin: auto;
    width: 100%;
    border: 1px solid #999 ;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.tim span {
    font-family: "Dancing Script", cursive;
    padding: 5px;
}
.controls{
   display: flex ;
   width: 100%;
   justify-content: space-between;

}
button {
    background-color: #1d9c5e;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px ;
    border-radius: 5px;
    width: 31%;
    border: 0;
    letter-spacing: 1px;
    transition: O.5s;
    cursor: pointer;
}
button:hover {
    transform: scale(0.9);
}